.col{
    
    border: 1px solid black;
    min-height: 100px;
}

.centroCartas{
    background-color: greenyellow;
}

.jugadores{
    background-color: brown;
}

.centro {
    text-align: center;
    line-height: 98px;
    padding: 0%;
    margin-bottom: 0%;
  }

  .centroCartaActual{
    text-align: center;
    line-height: 98px;
    padding: 0%;
    margin-bottom: 0%;
    padding-left: 190px;
  }

  .tamañoImagenesFichas{
    width: 95px;
    height: 95px;
  }

  .tamañoImagenesCartas{
    height: 260px;
    width: 160px;
    
  }

  .imagenCartaCentrada{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
  }

  .imagenFichaCentrada{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .cursor{
    cursor: pointer;
  }

  .botones{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border-color: gold;
    background-color: black;
    color: gold;
    border: 2px solid;
    font-family:"Playfair Display"
    

  }

  .tituloInstrucciones{
    text-align:center; 
    font-size:27px; 
    text-transform:uppercase; 
    color:#ffffff; 
    letter-spacing:1px;
    font-family:"Playfair Display", serif; 
    font-weight:400;
    padding-top: 26px;
  }

  .titulos {
    text-align:center; 
    font-size:27px; 
    text-transform:uppercase; 
    color:#ffffff; 
    letter-spacing:1px;
    font-family:"Playfair Display", serif; 
    font-weight:400;
    padding-top: 26px;
  }

  .colorLetra{
    color: white;
  }

  .mesa{
    border-radius: 20px; 
    border: 10px solid rgb(116, 63, 4); 
    background-color: rgb(4, 87, 4);
  }

.letraColumnaDerecha{
    font-size:13px; 
    text-transform:uppercase; 
    color:#ffffff; 
    letter-spacing:1px;
    font-family:"Playfair Display", serif; 
    font-weight:20;
    margin-top: 20px;
}

.letraColumnaIzquierda{
  font-size:13px; 
  text-transform:uppercase; 
  color:#ffffff; 
  letter-spacing:1px;
  font-family:"Playfair Display", serif; 
  font-weight:20;
}


/*
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}


.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}


.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}


@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
*/